{% extends 'base.html' %}
{% block content %}
    <h1>Вход</h1>
    <form action="" method="post" class="text-center">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% if has_error %}
            <p class="form-error">Uncorrect name or password!</p>
        {% endif %}
            <p><label for="username" class="form-label">Username:</label></p>
            <p><input type="text" name="username" id="username"></p>
            <p><label for="password" class="form-label">Password:</label></p>
            <p><input type="password" name="password" id="password"></p>
        <button type="submit">Enter</button>
    </form>
{% endblock %}