.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.img-caption {
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.caption-confirmation {
    /*background-color: #eeeeee;*/
    padding-top: 40px;
    padding-bottom: 16px;
    padding-left: 16px;
    text-align: center;
}

.centered-buttons {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.comments-caption {
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #e83e8ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-top-left-radius: 16px;
}
