.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.img-caption {
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.comments-caption {
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #e83e8ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-top-left-radius: 16px;
}

.heart-shape {
    position: relative;
    width: 80px;
    height: 80px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(250, 184, 66, 1);
}

.heart-shape:before,
.heart-shape:after {
    position: absolute;
    width: 80px;
    height: 80px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(250, 184, 66, 1);
}

.heart-shape:before {
    bottom: 0px;
    left: -40px;
}

.heart-shape:after {
    top: -40px;
    right: 0px;
}