{% extends "base.html" %}
{% block title %}Delete Photo{% endblock %}
{% block content %}
    <div class="caption-confirmation">
        <h1>Are you sure want to delete photo "{{ photography }}"?</h1>
    </div>
    <div class="centered-buttons">
        <form method="POST" action="{% url "webapp:photo_delete" photography.pk %}" class="text-center">
            {% csrf_token %}
            <input type="submit" value="Confirm" class="btn btn-danger">
            <a href="{% url 'webapp:photo_view' photography.pk %}" class="btn btn-success">Cancel</a>
        </form>
    </div>
{% endblock %}